:root{

--Very-Dark-Magenta: hsl(300, 43%, 22%);
--Soft-Pink: hsl(333, 80%, 67%);

--Dark-Grayish-Magenta: hsl(302, 76%, 87%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
--base-font-size: 15px;
}




.main{

    height:100vh;
    width: 100%;
    background-color:white;
    display:flex;




}

.container{


    height: 70%;
    width: 70%;
    background-color: white;
    margin:auto;
    display:flex;
    flex-direction:column;
    font-family: 'League Spartan', sans-serif;



}

.flex-1{

    display:flex;
    width:100%;
    height:50%;
    background-color: white;

    background-image: url(images/bg-pattern-top-mobile.svg);
    background-position: left top;
    background-repeat: no-repeat, no-repeat;
    margin-bottom: 20px;
}


.flex-2{

    display:flex;
    justify-content:centre;
    align-items:centre;
    width:100%;
    height:50%;
    background-color:white;
    justify-content: space-evenly;
    margin-right: 100px;

    
}

.box-1{

    height: 300px;
    width: 400px;
    padding: 40px;

}

.box-2{

    display:flex;
    flex-direction:column;
    margin-left:auto;
}

.box-2-a{

    height: 20px;
    width: 400px;
    background-color: var(--Light-Grayish-Magenta);
    margin: 30px;
    padding:10px;
    border-radius:10px;
    font-weight:bold;
    font-size:15px;
    margin-top:100px;
    

    
}

.box-2-b{

    height: 20px;
    width: 400px;
    background-color: var(--Light-Grayish-Magenta);
    margin:50px;
    padding:10px;
    margin-top: -5px;
    border-radius:10px;
    font-weight:bold;
    font-size:15px;


    
}

.box-2-c{

    height: 20px;
    width: 400px;
    background-color: var(--Light-Grayish-Magenta);
    margin:70px;
    padding:10px;
    margin-top: -20px;
    border-radius:10px;
    font-weight:bold;
    font-size:15px;

}



.person-1{
    
    width:300px;
    height:200px;
    background-color:var(--Very-Dark-Magenta);
    padding:40px;
    display:flex;
    flex-direction:column;
    align-self: flex-end;
    margin-bottom: 50px;
    border-radius:20px;
  
}



.small-flex{
    display:flex;
    align-items:centre;
    justify-content:centre;
    
}

.name{

    margin-top: -20px;
    margin-left:20px;
}



.image-edit{


    border-radius: 40px;
    height: 50px;
    width:50px;
}

.person-2{
    
    width:300px;
    height:200px;
    background-color:var(--Very-Dark-Magenta);
  padding:30px;
    display:flex;
    flex-direction:column;
    align-self: flex-end;
    margin-bottom: 30px;
    border-radius:20px;
    

    
  
}





.person-3{
    
    width:300px;
    height:200px;
    background-color: var(--Very-Dark-Magenta);
  padding:30px;
    display:flex;
    flex-direction:column;
    align-self: flex-end;
    margin-bottom: 10px;
    border-radius:20px;
    

    
  
}



.top{

    font-size:50px;
    font-weight:700px;
    color:var(--Very-Dark-Magenta);
}

.bottom{

    font-size:15px;
    margin-top: -20px;
    color:gray;
}


.body{

    font-size:15px;
    color:white;

}
.buyer{

color: var(--Soft-Pink);
margin-top:-20px;

}

.white{
    color:white;
}

.color{
    color:var(--Very-Dark-Magenta);
}

html{

    color:var(--Very-Dark-Magenta);
}






@media (max-width: 576px)

 {
    .main{

        height:100%;
        width: 100%;
        background-color:white;
        display:flex;
        flex-direction: column;
        justify-content:centre;
    }



.container{


    height: 70%;
    width: 70%;
    background-color: white;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    font-family: 'League Spartan', sans-serif;



}

  .flex-1{
      flex-direction:column;
      justify-content:center;
      align-items:center;
  }

  .box-1{

    height: 50%;
    width:100%;
  }

  .box-2{


    height:50%;
    width:100%;
    justify-content:center;
    align-items:center;
    align-self:center;

  }

  .box-2-a{
      align-self:center;
      width:130%;
      padding:20px;

  }

  .box-2-b{
    align-self:center;
    width:130%;
    padding:20px;

}


.box-2-c{
    align-self:center;
    width:130%;
   padding:20px;
}

  .flex-2{

    flex-direction:column;
    justify-content:space-around;

    
  }


  .person-1{

    width:100%;
    height:33%;
    align-self:center;
  }

  .person-2{

    width:100%;
    height:33%;
    align-self:center;
  }

  .person-3{

    width:100%;
    height:33%;
    align-self:center;
  }



}
